@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,200&display=swap');

a:hover {
    text-decoration: none;
}

.sourceSansPro {
    font-family: 'Source Sans Pro', sans-serif;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.barlowCondensed {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    color: #4C4E56;
}

.barlowCondensedLight {
    font-family: 'Barlow Condensed', sans-serif;
    color: #4C4E56;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: -25px;
}

.colorBTNActive {
    background-color: #FCB512;
    display: inline-block;
    width: max-content;
}

.colorBTNActive:hover {
    background-color: #4C4E56;
}

.btnIngreso {
    color: #4C4E56;
}

.btnIngreso:hover {
    color: #037DF2;
}

header {
    margin: 10px;
    width: -moz-available;
    z-index: 1000;
}

nav {
    border-radius: 20px;
}


#sectionRequest {
    padding-top: 150px;
    margin-bottom: 100px;
}

.shadowHero {
    text-shadow: 1px 1px 1px #000000;
    margin-top: 12rem;
}

#section1 {
    background-image: url('../img/fondoEnglish.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

#section1Spanish{
    background-image: url('../img/fondoSpanish.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

#section2 {
    margin: 100px 0px;
    
}

.formRequest {
    padding: 0 300px;
}

.verticalCenter{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.separador {
    border-right: 1px solid #000; 
    height: 40px;
    margin: auto 10px;
}

.imgFooter { 
    width: 200px;
    margin: auto;
}

.sectionButton{
    width: max-content;
    
}

#section1 > div > button {
    margin: 0px 100px;
}

#section1Spanish > div > button {
    margin: 0px 100px;
}

#section3 {
    background-color: #FEF5E5;
    padding: 100px 0px;
}

#section4 {
    background-color: #3DC8FB;
    padding: 30px 0px;
}

#section5 {
    padding: 100px 0px;
}

#section6 {
    background-color: #F5F5F5;
    padding: 100px 0px;
}

#section7 {
    background-color: #FCB512;
    padding: 50px 0px;
}

#animacion {
    background-image: url('../img/animacion.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 400px;
}

#fondo1Seccion3 {
    background-image: url('../img/fondo1Seccion3.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 400px;
}

#fondo2Seccion3 {
    background-image: url('../img/fondo2Seccion3.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 400px;
}

#fondo3Seccion3 {
    background-image: url('../img/fondo3Seccion3.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 400px;
}

.imgSlides {
    width: 250px;
    height: 250px;
    margin: 30px auto;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.iconSocial:hover {
    color: #ffffff;
}

.carousel-indicators > li {
    background: #96DFFB;
    border-radius: 50%;
    position: relative;
    top: 50px;
    width: 20px;
    margin: 0px 10px;
}

.carousel-indicators > .active{
    background: #037DF2
}
  
.labelTextFormRequest {
    color: #FCB512;
}

.fa-chevron-down {
    color: #FCB512;
    float: right;
    margin-right: 20px;
    margin-top: -34px;
}

.selectIcon {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.termPrivacityMenuMobil{
    display: none !important;
    margin-top: 30px;
}

.textRight {
    text-align: right;
}

.display1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
}

.btnSiMobil {
    display: none;
}


@media (max-width: 960px ) {

    .separador {
        display: none;
    }

    .formRequest {
        padding: 0px 30px;
    }

    .verticalCenter {
        text-align: center;
    }
    
    .imgSlides {
        width: 200px;
        height: 200px;
        margin: 30px auto;
    }

    #section1 > div > h1 {
        padding: 0px 0px !important;
    }

    #section1Spanish > div > h1 {
        padding: 0px 0px !important
    }

    .termPrivacityMenuMobil {
        display: inline-flex !important;
    }

    .display1 {
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .colorBTNActive {
        margin: auto;
    }

    #section1 {
        padding: 30px 10px;
    }

    #section2 {
        margin: 30px 10px;
    }

    #section3 {
        padding: 30px 10px;
    }

    #section4  {
        padding: 30px 10px;
        text-align: center !important;
    }

    #section5  {
        padding: 50px 10px;
    }

    #section6  {
        padding: 30px 10px;
    }

    #section7  {
        padding: 30px 20px;
    }

    .textRight  {
        text-align: center !important;
    }

    #animacion,
    #fondo1Seccion3,
    #fondo2Seccion3,
    #fondo3Seccion3  {
        height: 250px;
    }

    .barlowCondensedLight {
        margin-bottom: -20px;
    }

    .section7Link {
        font-size: 12px;;
    }

    .reverseItems {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
    }

    .btnNoMobil {
        display: none;
    }
    .btnSiMobil {
        display: block;
    }

    .section7LinkListMobil {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        font-size: 20px;
    }
    
}


@media (max-width: 575px ) {

    #section1 {
        background-size: 300%;
        background-position-x: -200px;
    }

    #section1Spanish {
        background-size: 300%;
        background-position-x: -400px;
    }
    
}

.displayFalse{
    display: none !important;
}

.error {
    border: solid #dc1616;
    background-color: #ff000057 !important;
    color: white;
}

.error::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(173, 2, 2);
    opacity: .7; /* Firefox */
  }
  
.error:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(173, 2, 2);
    opacity: .7; /* Firefox */
}
  
.error::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(173, 2, 2);
    opacity: .7; /* Firefox */
}